$flex: flex;

.flexCards{
	display: $flex;
	justify-content: center;
	margin-right: -78px;
    margin-left: -15px;
    margin-top: 41px;
    margin-bottom: 30px;
}

h1{
	display: $flex;
	justify-content: center;
}

.flexText{
	display: $flex;
	justify-content: center;
}
.fixCarousel{
	display: $flex;
	justify-content: center;
	width: 50%;
	overflow: visible;
}

.carousel-arrows{
	width: 55%;
}
.fixText{
	display: $flex;
	justify-content: center;
	alight-content: center;
	margin-top: 30px;
	padding: 35px;
	font-size: 24px;
}
.flexImg{
	border-radius: 1rem;
}
.flex-img{
	display: $flex;
	justify-content: center;
}
div.container {
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
}
img {
	width: 60%;
	height: auto;
}

.img-logo{
	width: 40%;
    height: auto;
}
h3{
	font-size: 30px;
}
#img-footer{
	width: 5%;
	height: 5%;
}
.text-index-1{
	margin-left: 10px;
	padding: 10px;
}
.text-index-2{
	margin-left: 10px;
	padding: 10px;
	font-size: 20px;
}
.text-index-3{
	margin-left: 10px;
	padding: 10px;
}
.img-fluid{
	width: 100%;
}





@media only screen and (max-width: 768px){

.col-sm-12{
	display: $flex;
	justify-content: center;
	margin-right: 26px;
    margin-left: -15px;
    margin-top: 41px;
    margin-bottom: 30px;
 }
.flexCards{
	margin-right: -78px;
    margin-left: -15px;
    margin-top: 41px;
    margin-bottom: 30px;
}

.flex-img{
	display: $flex;
	justify-content: center;
}
.fixText{
	display: $flex;
	justify-content: center;
	alight-content: center;
	margin-top: 30px;
	padding: 35px;
	font-size: 16px;
}
.flexImg{
	border-radius: 1rem;
}

div.container {
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
}
img {
	width: 60%;
	height: auto;
}
h3{
	font-size: 24px;
}
#img-footer{
	width: 5%;
	height: 5%;
}
.text-index-1{
	margin-left: 10px;
	padding: 10px;
}
.text-index-2{
	margin-left: 10px;
	padding: 10px;
	font-size: 16px;
}
.text-index-3{
	margin-left: 10px;
	padding: 10px;
	font-size: 14px
}
.responsive-title{
	font-size: 24px;
}
.h1, h1 {
    font-size: 1.5rem;
}
}