@import "colores";
@import "animaciones";
@import "responsive";

.img-fluid{
	opacity: 0.6;
}

.espaciado{
	padding: 10px;
}
.lead{
	text-align: center;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	    font-weight: 400;
}
#panymate{
	width: 90%;
}